<div class="bgimg" style="text-align:center">
  <mat-toolbar color="primary">
    LocalCast Weather
  </mat-toolbar>
  <div>
    <div class="mat-caption vertical-margin ">
      Your city, your forecast, right now!
    </div>
  </div>
  <div fxlayout="row">
    <div fxFlex></div>
    <mat-card fxFlex="300px">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>
          <div class="mat-headline">Current Weather</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-current-weather></app-current-weather>
      </mat-card-content>
    </mat-card>
    <div fxFlex></div>
  </div>
</div>
