<div *ngIf="current">
  <div class="container" fxLayout="row" >
    <div fxFlex="66%" class="mat-title no-margin">{{current.city}}, {{current.country}}</div>
    <div fxFlex class="mat-h3 no-margin">{{current.date | date:'EEEE'}}<br>
    {{current.date | date:'MMM d'}}{{getOrdinal(current.date)}}</div>
  </div>
  <div>
    <div fxLayout="row" fxFlex="55%" fxLayoutAlign="center center">
    <div fxFlex="55%"><img [src]='current.image' height="25px" width="25px" style="zoom: 300%"></div>
  </div>
  <div fxFlex class="right no-margin">
    <p class="mat-display-3">
      {{current.temperature | number:'1.0-0'}}
      <span class="mat-display-1 unit">˚F</span>
    </p>
  </div>
  </div>
  <div fxLayoutAlign="center" class="mat-caption">
    {{current.description}}
  </div>
</div>
<div *ngIf="!current"> No Data Available.</div>
